
{% load static %}
<html>
<head>
<title></title>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/materialize.css' %}">
</head>
<body class="#e8f5e9 green lighten-5" style="font-family: cursive">
    <header style="padding: 25px;border: solid 1px #1976d2;" class="#e3f2fd blue lighten-5">
        <div style="padding: 10px;
    font-size: xx-large;
    font-weight: 400;
    text-align: center;" class="#e3f2fd blue lighten-5 container">
            Polls Application
        </div>
    </header>

    {% block content %}
    {% endblock %}
    
</body>
</html>







