{% extends 'polls/base.html' %}

{% block content %}
<div class="container">
    <div>
        <h3>{{ question.question_text }}</h3>
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <p style="margin:0px">
            <label for="choice{{ forloop.counter }}">
                <input type="radio" name="choice" id="choice{{ forloop.counter}}" value="{{ choice.id }}">
                <span> {{ choice.choice_text }} </span>
            </label>
        </p>
        <br>
        {% endfor %}

        <input style="margin-top: 5px;" class="btn waves-effect waves-light"
            type="submit" value="Vote">
    </form>

</div>
{% endblock %}
