
{% extends 'polls/base.html' %}
    {% block content %}
        <div class="container">
        <div style="padding: 10px;text-align: left;margin-left: 5rem;">
            <h4>Questions<h3>
        </div>
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <div class="card-panel section z-depth-3" style="padding: 15px;border-radius: 20px;font-size: large;font-weight: 400; width: inherit;">
                    <span><a href="{% url 'polls:detail' question.id %}">{{ question.id }}). {{ question.question_text }}</a><span>
                </div>
            {% endfor %}
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        </div>
    {% endblock %}




