{% extends 'polls/base.html' %}

{% block content %}
<div class="container">
    <h3>{{ question.question_text }}</h3>
    <div>
    <ul class="collection" style="width: fit-content;font-size: medium;">
        {% for choice in question.choice_set.all %}
        <li class="collection-item">{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
        {% endfor %}
    </ul>
    </div>
    <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
</div>

{% endblock %}
